<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>회원 등록</title>

    <link th:rel="stylesheet" th:href="@{/assets/datatable/css/jquery.dataTables.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>

</head>
<body>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/datatable/js/jquery.dataTables.min.js}"></script>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">회원 등록</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">자세히</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">서비스</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">인원추가</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container">
    <div class="page-header">
        <h1>회원 등록</h1>
    </div>
    <div class="starter-template">
        <form class="form-horizontal">
            <div class="form-group">
                <label style="float: left" for="name" class="col-sm-2 control-label">이름</label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input type="name" class="form-control" id="name" name="name" placeholder="이름"/>
                </div>
            </div>

            <div class="form-group">
                <label style="float: left" for="id" class="col-sm-2 control-label">주민번호</label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input type="id" class="form-control" id="id" name="id" placeholder="주민번호"/>
                </div>
            </div>

            <div class="form-group">
                <label style="float: left" for="age" class="col-sm-2 control-label">나이</label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input type="age" class="form-control" id="age" name="age" placeholder="나이"/>
                </div>
            </div>

            <div class="form-group">
                <label style="float: left" for="address" class="col-sm-2 control-label">주소</label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input type="address" class="form-control" id="address" name="address" placeholder="주소"/>
                </div>
            </div>

            <div class="btn_wrap text-left" style="margin-top: 40px">
                <a th:href="@{/list}" class="btn btn-secondary">뒤로 가기</a>
                <button id="insert" type="button" class="btn btn-primary waves-effect waves-light">저장 하기</button>
            </div>
        </form>
    </div>
</main>

<script>
    $("#insert").click(function() {
        var jsonData = JSON.stringify({
            name : $("#name").val(),
            id : $("#id").val(),
            address : $("#address").val(),
            age : $("#age").val(),
            type : "C"
        });
        $.ajax({
            url : "/manage",
            type : "post",
            data : jsonData,
            contentType : "application/json",
            dataType : "json",
            success : function() {
                alert("저장 성공");
                location.href = "/list";
            },
            error : function() {
                alert("저장 실패!");
                location.href = location.href;
            }
        });
    });
</script>
</body>
</html>
