<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap DataTable</title>

    <link th:rel="stylesheet" th:href="@{/assets/datatable/css/jquery.dataTables.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>

</head>
<body>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/datatable/js/jquery.dataTables.min.js}"></script>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap DataTable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">자세히</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">서비스</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">내용</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="personList" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>주소</th>
                    <th>나이</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>주소</th>
                    <th>나이</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script>
    $('#personList').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/list",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                console.log(d);
                return JSON.stringify(d);
            }
        },
        "columns": [
            {"data": "id", "width": "20%"},
            {"data": "name","width": "20%"},
            {"data": "address", "width": "20%"},
            {"data": "age", "width": "20%"}
        ]
    });
</script>
</body>
</html>
